#contact-part{
    text-align: center;
}

#contact-part>p{
    font-size: 150%;
}

#contact-part>a{
    background-color: white;
    font-size: 100%;
    text-decoration: none;
    padding: 1%;
    border-radius: 25px;
}