header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

.home-button{
    display: flex;
    font-size: 150%;
    align-items: center;
    font-weight: bold;
    color:rgb(30, 30, 30);
    border-radius: 25px;
    padding: 1%;
}

.home-button>img{
    width: 3em;
    margin: 0.5em;
}

.home-button:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

#menu{
    display: flex;
    flex-direction: row;
}

.dropdown>span{
    color: black;
    font-size: large;
    border-radius: 25px;
    padding: 0.5em 1em;
}

.dropdown>span, .dropdown-content{
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.dropdown>span:hover{
    background-color: black;
    color: white;
    transition: all 0.4s ease;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content{
    display: none;
    margin-top: 9px;
    margin-left: -9.5em;
    width: 15em;
    position: absolute;
    border-radius: 25px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.dropdown-content>a{
    color: black;
    display: flex;
    justify-content: center;
    margin: 0.5em;
    padding: 1em;
    border-radius: calc(25px - 0.5em);
    text-decoration: none;
}

.dropdown-content>a:hover{
    background-color: black;
    color: white;
    transition: all 0.2s ease;
}

#contact-part{
    text-align: center;
    font-weight: bolder;
}

#contact-part>p{
    font-size: 150%;
}

#contact-button:hover{
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}