@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
*{
    font-family: "Comfortaa", cursive;
}

header, footer{
    margin: 0;
    padding : 0;
    padding: 2% 4%;
}

footer{
    text-align: center;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.separator-part{
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 0.1px;
}

#detail-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 200%;
}

#detail-part>div{
    display: flex;
    flex-direction: row;
    width: 90%;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    color: black;
    padding: 10px;
}

#detail-part>div>img{
    border-radius: 25px;
    width: 40%;
}

#detail-part>div>p{
    align-items: center;
}

#detail-part>div:hover{
    background-color: black;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}