@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
*{
    font-family: "Comfortaa", cursive;
}

footer{
    text-align: center;
}

#copyright{
    margin: 1.5em;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.separator-part{
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 1px;
}

.button{
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: bolder;
    margin: 2%;
    padding: 1em;
    background-color: white;
    color: rgb(127, 127, 255);
    border: solid 0.1em rgb(127, 127, 255);
    border-radius: 2em;
}

.button>img{
    width: 1em;
    height: 1em;
    color: rgb(127, 127, 255);
}

.button-full{
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: bolder;
    margin: 1em;
    padding: 1em;
    color: white;
    background: linear-gradient(135deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius: 2em;
    transition: 0.25s;
}

.button:hover{
    background-color: rgb(240, 240, 240);
}

.button-full:hover{
    background: linear-gradient(315deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}